.container {
    background-color: green;
}

.conteudo {

    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;

}

h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;
    color: yellow;
}

form {
    text-align: center;
}

form input,
select {
    width: 40%;
    margin-bottom: 20px;
    height: 35px;
    text-align: center;
}

button {
    width: 25%;
    height: 35px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: yellow;
    color: green;
    font-weight: bold;
    cursor: pointer;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow-x: auto;

}

table td {
    padding: 20px;
}

table tr {
    background-color: yellow;
    font-size: 14px;
}

table tr th {
    background-color: green;
    color: white;
}

table a {
    text-decoration: none;
    padding: 5px;
    background-color: yellow;
    border: none;
    border-radius: 10px;
}